body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #ffffffd7;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, select, textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #fbfbfb;
    border-radius: 5px;
}
/* Additional styles for passive income options */
#passiveIncomeOptions {
    margin-top: 20px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
}

button {
    display: inline-block;
    background-color: #75f25c;
    color: rgb(3, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #040000f7;
}

h3 {
    margin-top: 30px;
    margin-bottom: 10px;
}

#recommendations {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 5px;
}
